.title{
  color: #fff;
  background-color: #625276;
  width:fit-content;
  margin-left: auto;
  margin-right:auto;
  margin-top:15px;
  padding: 5px;
}

.info {
  color: #fff;
    background-color:#6252769a;
  box-shadow: 6px 5px 10px 0px rgba(26,30,57,0.75);
  padding: 10px 40px 10px 40px;
  width: 500px;
  margin-left: auto;
  margin-right:auto;
  
}